@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>
    <a href="http://localhost:8081">Seq logs</a>
</p>

<p>
    <a href="http://localhost:26375/swagger/index.html">Swagger</a>
</p>
