@using Domain.Common.DTOs
@using Domain.Interfaces.Services
@using UserManager.Persistence.Models
@inject IUserService UserService
@attribute [StreamRendering]

@if (Users is not null && Users!.Count != 0)
{
 <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Age</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (var i = 0; i < Users.Count; i++)
        {
                <UserRecord User="@Users[i]" UserDelete="UserDelete" Cancel="Cancel" Save="Save" Start="Start"></UserRecord>
        }
    </tbody>
 </table>
}

@code {

    [Parameter]
    public List<User>? Users { get; set; } = new();
    
    [Parameter]
    public EventCallback<User> UserDelete { get; set; }

    [Parameter]
    public EventCallback<User> Start { get; set; }

    [Parameter]
    public EventCallback<User> Cancel { get; set; }

    [Parameter]
    public EventCallback<User> Save { get; set; }

    
}

